.container {
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.tabHeader {
  height: 66px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  box-sizing: border-box;
}
