.container {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.category {
  height: 32px;
  background: white;
  border-left: 5px solid #1acddd;
  border-right: none;
  padding: 12px;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  border-radius: 5px 0 0 5px;
  text-transform: capitalize;
  z-index: 100;
  box-shadow: -5px 2px 7px 0 rgba(0, 0, 0, 0.1);
}

.category > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px 21px;
}

.category:hover {
  cursor: pointer;
  background: rgba(132, 213, 253, 0.1);
}

.subTask {
  display: flex;
  justify-content: flex-end;
}
