.container {
  background: white;
  height: 32px;
  border-left: 5px solid orange;
  display: flex;
  padding: 4px 20px;
  align-items: center;
  width: 80%;
  margin-bottom: 2px;
  border-radius: 5px 0 0 5px;
  font-size: 13px;
}

.container:hover {
  cursor: pointer;
  background: rgba(255, 166, 0, 0.1);
}
