.container {
  min-height: 80px;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.title {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
  font-weight: 600;
  padding: 0 32px;
  box-sizing: border-box;
  text-transform: capitalize;
  font-size: 14px;
}

.title span {
  padding-right: 15px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 32px;
}

.title svg {
  color: purple;
}

.taskList {
  display: flex;
  flex-direction: column;
  margin: 6px 0;
}
