.firstSidebar {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.firstSidebar img {
  height: 52px;
  width: 52px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
