.wrapper {
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.pmContainer {
  height: calc(100vh - 48px);
  padding: 15px;
  box-sizing: border-box;
}

div[class^='ProseMirror'] {
  background: white;
  padding: 16px 32px;
  overflow-y: auto;
  height: calc(100vh - 134px);
}

div[class='menubar'] {
  display: flex;
  justify-content: flex-start;
}

span[class^='menuicon'] {
  padding: 5px;
}

div span[class*='active'] {
  color: red;
}

.icon {
  display: flex;
  flex-direction: row;
}
