div[class^='ProseMirror'] {
  background: white;
  padding: 8px;
  height: calc(87vh - 3px);
  overflow-y: auto;
}

div[class='menubar'] {
  display: flex;
  justify-content: flex-start;
}

span[class^='menuicon'] {
  padding: 5px;
}

div span[class*='active'] {
  color: red;
}

.icon {
  display: flex;
  flex-direction: row;
}
