.wrapper {
  height: 100%;
}

.pmContainer {
  height: calc(100vh - 236px);
  padding: 15px;
  box-sizing: border-box;
}

div[class^='ProseMirror'] {
  background: white;
  padding: 16px 32px;
  overflow-y: auto;
  max-height: calc(100vh - 370px);
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  border-radius: 0px 0px 5px 5px;
}

div[class='menubar'] {
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px 5px 0px 0px;
  background: white;
}

span[class^='menuicon'] {
  padding: 5px;
}

div span[class*='active'] {
  color: red;
}

.icon {
  display: flex;
  flex-direction: row;
}
