.container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  flex-direction: column;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
