.container {
  display: flex;
  z-index: 100;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  padding: 15px;
  flex-direction: column;
  height: 100%;
}
