.container {
  display: flex;
  z-index: 100;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  padding: 15px;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.banner {
  position: absolute;
  width: 100%;
  z-index: -10;
  bottom: 0;
  left: 0;
  opacity: 0.4;
  transform: rotateX(180deg);
}

.banner2 {
  position: absolute;
  width: 100%;
  z-index: -10;
  bottom: 20px;
  left: 0;
  opacity: 0.1;
  transform: rotateX(180deg);
}
