.container {
  min-height: 30px;
  width: 100%;
  padding: 24px 16px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 5px 15px rgba(166, 173, 201, 0.2);
  justify-content: space-between;
}

.button {
  background-image: linear-gradient(
    to right top,
    #5becff,
    #79edfc,
    #90eefa,
    #a5eef8,
    #b7eff6
  );
  min-width: 72px;
  padding: 5px 24px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 3px 3px rgba(166, 173, 201, 0.2);
}

.button span {
  padding-right: 7px;
}

.button:hover {
  background-image: linear-gradient(
    to right top,
    #5becff90,
    #79edfc90,
    #90eefa90,
    #a5eef890,
    #b7eff690
  );
  cursor: pointer;
}

.button:active {
  background: #089fb357;
}

.button div {
  text-align: center;
  padding: 0 7px;
}

.button div p {
  margin: 0;
}
