.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  flex-direction: column;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
.container img {
  height: 300px;
  width: 300px;
  box-sizing: border-box;
  padding: 20px;
  opacity: 0.7;
  border-radius: 50%;
  box-shadow: 0 7px 8px 5px rgba(0, 0, 0, 0.3);
}

.quote {
  width: 40%;
  line-height: 34px;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.1);
}

.quote span {
  color: rgba(0, 0, 0, 0.4);
  font-size: 90px;
}
