@font-face {
  font-family: 'Titillium';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/font/Titillium/Titillium-Regular.otf') format('opentype');
}

.app-wrapper {
  font-family: 'Helvetica Neue', sans-serif;
  color: rgba(0, 0, 0, 0.7);
}
