body {
  padding: 0;
  margin: 0;
  color: rgba(23, 23, 23);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

li {
  list-style-type: none;
}
